
<form method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">
    <pre *ngIf="debug">{{config|json}}</pre>
    <input *ngIf="config?.buyerFullName"    name="buyerFullName"    type="hidden"  [value]="config?.buyerFullName"   >
    <input *ngIf="config?.merchantId"       name="merchantId"       type="hidden"  [value]="config?.merchantId"   >
    <input *ngIf="config?.accountId"        name="accountId"        type="hidden"  [value]="config?.accountId" >
    <input *ngIf="config?.description"      name="description"      type="hidden"  [value]="config?.description"  >
    <input *ngIf="config?.referenceCode"    name="referenceCode"    type="hidden"  [value]="config?.referenceCode" >
    <input *ngIf="config?.amount"           name="amount"           type="hidden"  [value]="config?.amount"   >
    <input *ngIf="config?.tax"              name="tax"              type="hidden"  [value]="config?.tax"  >
    <input *ngIf="config?.taxReturnBase"    name="taxReturnBase"    type="hidden"  [value]="config?.taxReturnBase" >
    <input *ngIf="config?.currency"         name="currency"         type="hidden"  [value]="config?.currency" >
    <input *ngIf="config?.signature"        name="signature"        type="hidden"  [value]="config?.signature"  >
    <input *ngIf="config?.test"             name="test"             type="hidden"  [value]="config?.test" >
    <input *ngIf="config?.buyerEmail"       name="buyerEmail"       type="hidden"  [value]="config?.buyerEmail" >
    <input *ngIf="config?.responseUrl"      name="responseUrl"      type="hidden"  [value]="config?.responseUrl" >
    <input *ngIf="config?.confirmationUrl"  name="confirmationUrl"  type="hidden"  [value]="config?.confirmationUrl" >
    <input *ngIf="config?.extra1"  name="extra1"  type="hidden"  [value]="config?.extra1" >
    <ng-content></ng-content>
    <!-- <input name="Submit"        type="submit"  value="Enviar" > -->
    <button nz-button nzType="primary" [nzLoading]="sending" (click)="send()">{{ config?.textoBoton }}</button>
    
    <!-- https://tarjeta-credito.net/generador/#resp -->
  </form>